.logout{
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    background-color: blueviolet;
}

.nav-link {
    display: block;
    padding: 12px 15px;
    color: #333;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #f0f0f0;
  }